#placements-tool #placements-content .placements-data{
    height: 100%;
    width: 100%;
}
    #placements-tool #placements-content .placements-data .placements-data-entry{
        text-align: center;
    }